<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<link rel="stylesheet" href="animated.css">
<style>
p{width:50px;height:50px;background: red;margin: 20px auto 0;}
/*.fade-enter-active,.fade-leave-active{transition:1s all linear;}
.fade-enter-active{width: 300px;height: 300px;opacity: 1;}
.fade-leave-active{width: 100px;height: 100px;opacity: 0;}
.fade-enter{width: 100px;height: 100px;opacity: 0;}*/
</style>
<body>
<div id="app">
<input type="text" value=""v-model="show">

	<transition-group enter-active-class="bounceInLeft" leave-active-class="bounceOutRight"
	>
		<p v-show="show" class="animated" v-for="(val,index) in lists" :key="index">
			{{val}}
		</p>
	</transition-group>	
</div>	
<script src="vue.js"></script>
<script>
window.onload=function(){
	new Vue({
		el:"#app",
		data(){
			return {
				show:"",
				list:['water','caw','apple','line','tigger','dog']
			}
		},
		computed:{
			lists(){
				var arr = [];  
				var that = this;
				this.list.forEach((val)=>{  //意思是:如果input中有字母中带有val的,那么久添加到数组中。
					if(val.indexOf(this.show)>-1){
						arr.push(val);
					}
				})
				return arr;
			}
		},
		methods:{
			beforeEnter(el){
				console.log('进入之前');
			},
			enter(el){
				console.log('进入过程中');
			},
			afterEnter(el){
				console.log('进入之后');
				el.style.background="blue";
			},
			beforeLeave(el){
				console.log('出去之前');
			},
			leave(el){
				console.log('出去的时候');
			},
			afterLeave(el){
				console.log('出去之后');
				el.style.background="red";
			}
		}
	})
}
</script>
</body>
</html>